<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>webapp_net8_database - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/StyleSheet.css" type="text/css" />
</head>
<body class="bg-body">
	<header>
		@await Html.PartialAsync("_NavPartial")
		@RenderSection("_pageHeader", false)
	</header>
	<main class="container">@RenderBody()</main>
    <footer>_footer</footer>
    <script src="~/bootstrap/js/bootstrap.bundle.js" crossorigin="anonymous" async></script>
</body>
</html>
