@{
	ViewData["Title"] = "JSTest";
}

<!-- javascript -->
<script>
	function btnClick() {
		const _element = document.getElementById("jtest-btn");
		const _result = document.getElementById("jtest-p");
		let _prompt = confirm("Show Date()?");

		if (_prompt == true) {
			_element.innerHTML = "true"
			_element.classList = "btn btn-success";
			_result.innerHTML = Date();
		}
		else {
			_element.innerHTML = "false";
			_element.classList = "btn btn-danger";
			_result.innerHTML = "";
		}
	}
</script>

<h1 class="display-1">@ViewData["Title"]</h1>

<div class="container bg-light mb-3">
	<h6 class="display-6">Show Date() when prompt is confirmed</h6>
	<button type="button" id="jtest-btn" onclick="btnClick()" class="btn btn-primary">Button</button>
	<span id="jtest-p" class="font-monospace"></span>
</div>